*{
    font-family: 'Montserrat';
}

html {
    overflow: scroll;
}
::-webkit-scrollbar {
    width:0px;
    background: transparent;
}

.profile-pic1 {
    border: white;
    border-style: solid;
    width: 90%;
}

.section h1 {
    font-size: 42px;
    font-weight: bold;
}

.title {
    color: black;
}

#desciption {
    text-align: right;
}

.bio {
    font-size: 20px;
    padding-left: 3px;
}

#section0 {
    background: linear-gradient(to right top, rgb(125, 166, 177), white);
    margin-right: 0px;
    margin-left: 0px;
}

#section1 {
    background: linear-gradient(to left bottom, rgb(255, 106, 106), white);
    margin-right: 0px;
    margin-left: 0px;
}

#section2 {
    background: linear-gradient(to left top, rgb(120, 255, 120), white);
    margin-right: 0px;
    margin-left: 0px;
}

#section3 {
    background: linear-gradient(to right bottom, rgb(228, 68, 228), white);
    margin-right: 0px;
    margin-left: 0px;
}

#section4 {
    background: linear-gradient(to top, rgb(255, 164, 53), white);
    margin-right: 0px;
    margin-left: 0px;
}

footer {
    position: absolute;
    bottom: 0px;
    right: 0%;
}

.btn-lg {
    font-weight: bold;
}

.home-button {
    border-color: rgb(87, 219, 255);
}

#ed-button {
    border-color: red;
}

#workex-button {
    border-color: green;
}

#projects-button {
    border-color: purple;
}

#contact-button {
    border-color: darkorange;
}

@media only screen and (min-width: 1700px) {
    #profile-picture-col {
        top: -10%;
    }

    #workex-text {
        padding-left: 40px;
    }
    
    #ed-text {
        padding-left: 30px;
    }
}

#umass-pic {
    border: transparent;
    padding-left: 15px;
}

#staples-pic {
    padding-left: 22px;
}

#chef-pic {
    padding-left: 10px;
}